{{ $item := .item }}

{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

{{ $resource := partial "functions/get_featured_image.html" $item }}

<a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="mb-5">
  <div class="md:flex">
    <div class="md:flex-shrink-0 overflow-hidden">
      {{ with $resource }}
        {{ $image := .Fit "655x655" }}
        {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
        <img class="h-28 w-full md:w-48 object-contain hover:scale-105 transition duration-300 cursor-pointer"
             loading="lazy"
             src="{{ $image.RelPermalink }}"
             height="{{ $image.Height }}" width="{{ $image.Width }}"
             alt="{{ $item.Title | plainify }}">
      {{ end }}
    </div>

    <!-- Vertically center text block -->
    <div class="p-4 flex flex-col justify-center">
      <div class="tracking-wide text-md text-primary-700 dark:text-primary-200 font-semibold">
        {{ $item.Title }}
      </div>

      <p class="block mt-1 text-sm leading-tight font-medium text-black dark:text-white line-clamp-2">
        {{ ($item.Params.summary | default $item.Summary) | plainify | htmlUnescape | chomp }}
      </p>

      {{ if and $item.Date (ne ($item.Date.Year) 1) }}
        <p class="mt-2 text-gray-500 dark:text-gray-400 text-sm">
          {{ $item.Date | time.Format (site.Params.locale.date_format | default ":date_long") }}
        </p>
      {{ end }}
    </div>
  </div>
</a>
