{{ define "main" }}

<div class="max-w-prose mx-auto flex justify-center">
  <article class="prose prose-slate lg:prose-xl dark:prose-invert">
    <h1 class="lg:text-6xl">{{ .Title }}</h1>
    {{ .Content }}
  </article>
</div>

{{ $view := .Params.view | default "card" }}
{{ $block := . }}

<div class="flex flex-col items-center">

  {{ partial "functions/render_view" (dict "fragment" "start" "page" $block "item" . "view" $view) }}

  {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
  {{ $currentYear := "" }}
  {{ $isFirst := true }}
  
  {{ range $index, $item := $paginator.Pages }}
    {{ $year := $item.Date.Format "2006" }}
    {{ $yearLabel := cond (ge (int $year) 2020) $year "Before 2020" }}

      {{ if ne $yearLabel $currentYear }}
        {{ if not $isFirst }}</div>{{ end }}
        <h2 class="text-2xl font-bold mt-10 mb-0">🚀 {{ $yearLabel }}</h2>
        <div class="space-y-6">
        {{ $currentYear = $yearLabel }}
        {{ $isFirst = false }}
      {{ end }}
    
    {{ partial "functions/render_view" (dict "page" . "item" . "view" $view "index" $index) }}
  {{end}}

  {{ partial "functions/render_view" (dict "fragment" "end" "page" $block "item" . "view" $view) }}

  {{ partial "components/paginator" . }}

</div>

{{ end }}
