{{/* Usage: {{< research-papers area="trustllm" >}} */}}
{{ $area := .Get "area" }}
{{ $pubs := where (where site.RegularPages "Section" "publication") ".Params.research_areas" "intersect" (slice $area) }}
{{ $pubs = sort $pubs "Date" "desc" }}
{{ if $pubs }}
<h3><span style="font-size:1.3em; font-weight:800; margin-right:0.2em;">{{ len $pubs }}</span> Related Publications</h3>
<div style="margin-top:0.5rem;">
  {{ range $pubs }}
  {{ partial "views/pub-card.html" (dict "item" .) }}
  {{ end }}
</div>
{{ end }}
